.views {
  display: flex;
  flex-wrap: wrap;
  .view {
    text-align: center;
    border: 1px solid black;
    h2 {
      color: $lightBlue;
      margin: 0 0 1.5rem 0;
    }
    h1 {
      margin: 0;
    }
  }

  .fullBox {
    display: flex;
    width: calc(50vw - 2px);
    height: calc(50vw - 2px);
  }
  .textBox {
    width: calc(50vw - 10rem - 2px);
    height: calc(50vw - 10rem - 2px);
    padding: 5rem;
  }

  .box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    // width: 50%;
    // height: 50%;
    img {
      width: 100%;
      height: 100%;
    }

    p,
    ul {
      position: absolute;
      z-index: 2;
      margin: auto;
      list-style: none;
      li {
        font-size: 2rem;
        font-weight: bold;
        margin: 0.5rem;
      }
    }
  }

  .view2 {
    flex-wrap: wrap;
    padding: 0;
    .box {
      width: 50%;
      height: 50%;
    }
  }
}
