$lightBlue: #219dfe;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.btn {
  display: inline-block;
  border: 2px solid $lightBlue;
  color: $lightBlue;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: 5rem;
}
.shadow {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(76, 118, 233, 0.86);
  z-index: 1;
}

@import "view";
